<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digitalgenius.bookmytable">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMyTable"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.ChoosePicture_A.ChoosePictureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyRestaurant_A.MyRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Login_A.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Intro_A.IntroActivity"
            android:exported="true" />
        <activity
            android:name=".ui.TableBooking_A.TableBookingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.Home_A.RestaurantDetails_F.RestaurantDetailsFragment"
            android:exported="true" />
        <activity
            android:name=".ui.Splash_A.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Home_A.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.PhoneAuth_A.PhoneAuthActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SignUp_A.SignUpActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>